[Desktop Entry]
Name=VaporDose
Comment=Steam DLC Automation for Linux
Exec=vapordose
Icon=vapordose
Terminal=false
Type=Application
Categories=Utility;Game;
